

<!--Parent to the child Communication-->

<div class="container">
   
   <h2>Paprent Component</h2>
  <div class="row">
    <div class="col-sm-3">
      <h3> Enter The Value: </h3>
    </div>
    <div class="col-sm-3">
     <input type="text" (keyup)="0" #ptext>
    </div>

    <div class="col-sm-3">
      
     </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
         <!--child to parent communication-->
       <h4>Received from Child Component: <b>{{cdata}}</b></h4>
    </div>

  </div>
</div>

 
    
   
 

 

<app-child [pdata]="ptext.value" (cevent)="cdata=$event"></app-child>