<h1>Data Binding</h1>

<!--use interpolation -->
<h2>Let's bind the data from source to view using interpolation</h2>

<hr>

<p>{{name}}</p>


<h1>let's bind the data from source to view using property Binding:[] :bind the value with attribute</h1>

<hr>

<a [href]="url">Connect to Google</a>

<br>
<hr>
<img [src]="imageUrl" style="width: 20%;" >

<h3>Print JSON Array</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Available</th>
            <th>Ratings</th>
        </tr>
    </thead>
    <tbody>
        <!--NgDirectives  eg: *ngFor-->
        <tr *ngFor="let p of products">
            <td [class.inStock]="true">{{p.name}}</td>
            <td [style.font-weight]="we">{{p.price}}</td>
            <td [class.inStock1]="true">{{p.available}}</td>
            <td [style.font-weight]="we">{{p.ratings}}</td>

        </tr>
    </tbody>
</table>

<div class="container">
    <button class="btn btn-primary" (click)="show()">Show Div</button>

    <div *ngIf="flag" style="background-color: yellowgreen;">
        This is My Div and You have implemented Event Binding
    </div>
</div>
