<h1>Demo App</h1>


<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="home" >Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="about" >AboutUs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="contact" >Contact US</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="demo" >Demo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="pipe" >Pipes</a>
        </li>
    </ul>
</div>

<div class="container">

    <h2 changecolor> Hello World</h2>
<h3 highlight> Hello</h3>

<div *ngIf="flag">
    This Div is Visible
</div>

<div [ngSwitch]="'one'">
    <div *ngSwitchCase="'one'">One is Displayed</div>
    <div *ngSwitchCase="'two'">Two is Displayed</div>
    <div *ngSwitchDefault>Default Option is Displayed</div>
    </div>

     


</div>

    
    
  <router-outlet></router-outlet>

  